body {
    margin:0;
    background-color: #99FF99;
}
header { 
    background-image:url("images/header.jpg");
    background-position-x:right;
    background-size:cover;
    width:100%;
    height:auto;
}
nav  {
    width:100%;
    overflow:auto;
    padding:10px;
    background-color:white;
    opacity:50%;
    border:0;
    list-style-type: none;
    text-align:center;
    padding: 0;
    margin: 0;
    }

nav li {
        display: inline;
        font-size: 20px;
        font-family:monospace;
        color:#003000;
        padding: 20px;
        }
h1 {
   text-align:center;
   font-family:Arial, Helvetica, sans-serif;
   font-weight:bolder;
   color:#002000;
}
.content {
    float:left;
    width:55%;
    padding-left:5%;
    padding-right:5%;
    border:1px,black;
}
.images {
    float:right;
    width:30%;
    height:auto;
    border:1px,black;
    padding-right:5%;

}
main img {
    width:30%;
    height:auto;

}
footer { 
    height: 7%;
    text-align:center;
    width: 100%;
    bottom: 0px;
    overflow:hidden;
    z-index: 2;
    position: sticky;
    background-color: #006000;
    border: 0;
    padding: 0;
    margin:0;
}